@font-face {
    font-family: "Geforce-Bold";
    src: url("../fonts/Geforce/GeForce-Bold.ttf");
}

@font-face {
    font-family: "Geforce-Light";
    src: url("../fonts/Geforce/GeForce-Light.ttf");
}


/************* NO MOSTRAR ELEMENTOS DE OTROS DISEÑOS ************/

.VISLogoFashion {
    display: none;
}

.VISFashionName {
    display: none;
}

.ArrowWhite {
    display: none;
}

.VISFashionLogoFooter {
    display: none;
}


/************* GAMING DESIGN ************/

header {
    font-family: "Geforce-Bold";
    font-size: 15pt;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.Header {
    background: url(../images/cover.png);
    background-size: cover;
    width: 98.8vw;
}

body {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.VISLogo {
    display: none;
}

.VISLogoGaming {
    height: 100px;
    padding: 5px;
    margin-left: 10px;
}


/******************* VERSIÓN MÓVIL *******************/

.hideOnMobile {
    display: none;
}

.ham-menu {
    width: 35px;
    margin-top: 30px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
    position: fixed;
    width: 45%;
    top: 0;
    right: 0;
    text-align: left;
    background: #76ff03;
    height: 100%;
    padding-top: 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    background-color: #76ff03;
}

nav ul li a:hover {
    background-color: #ccff90;
}

.exit-btn {
    margin-bottom: 10px;
    margin-top: 15px;
    margin-right: 5px;
    text-align: right;
    padding: 0 20px;
}

.exit-btn img {
    width: 20px;
    cursor: pointer;
}

.VISName {
    display: none;
}

.VISGameLogoGreen {
    height: 300px;
}

.CoverSection {
    text-align: center;
    width: 98.8vw;
}

.FilmDescription {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: "Geforce-Light";
}

.FilmTitle {
    font-family: "Geforce-Bold";
    color: #76ff03;
    margin: 0;
    padding: 0;
}

.CoverText {
    font-size: 35pt;
    display: block;
    line-height: 50px;
    padding-top: 30px;
    text-align: center;
}

.ArrowScroll {
    display: none;
}

.ArrowGaming {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    animation: move 1s infinite alternate;
}

@keyframes move {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
}

.Sinopsis {
    background: url(../images/cover2.jpg);
    background-size: cover;
    display: flex;
    width: 98.8vw;
}

.SinopsisTitle {
    color: black;
    font-family: "Geforce-Bold";
    font-size: 100px;
    margin: 15px;
    text-align: right;
    line-height: 75px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.SinopsisText {
    font-family: "Geforce-Light";
    font-size: 28px;
    margin-top: 33px;
    margin-right: 25px;
    margin-bottom: 40px;
}

.Necesidades {
    margin-top: 0;
    background: url(../images/armTime.jpg);
    background-size: cover;
    width: 98.8vw;
}

.NeedsText {
    font-family: "Geforce-Light";
    color: #76ff03;
    margin-left: 25px;
    margin-right: 100px;
    font-size: 25px;
    margin-bottom: 5px;
}

.NeedsTitle {
    color: white;
    font-family: "Geforce-Bold";
    font-size: 52px;
    text-align: right;
    margin-top: 0;
    margin-right: 45px;
    margin-bottom: 5px;
}

.Gadgets {
    display: flex;
    width: 98.8vw;
}

.GadgetsText {
    background-color: white;
    width: 100%;
}

.TimeGadget {
    position: relative;
}

.Rectangle {
    background-color: #76ff03;
    height: 40px;
    width: 125px;
    z-index: 1;
    position: absolute;
}

.TimeText {
    margin-bottom: 0;
    margin: 2px 20px 0 20px;
    font-family: "Geforce-Bold";
    font-size: 30px;
    text-align: right;
    z-index: 2;
    position: absolute;
}

.NameGadget {
    font-family: "Geforce-Bold";
    font-size: 90px;
    margin: 55px 20px 0 20px;
    line-height: 75px;
    text-align: right;
}

.DescriptionGadget {
    margin: 15px 20px 50px 20px;
    font-family: "Geforce-Light";
    font-size: 20px;
}

.GadgetsImages {
    display: none;
}

.MenuGadget {
    text-align: right;
    background-color: #76ff03;
    padding-right: 25px;
    cursor: pointer;
}

.MenuGadget a {
    text-decoration: none;
    color: black;
    font-family: "Geforce-Bold";
    font-size: 20px;
    margin-right: 10px;
}

.Tecnologias {
    background: url(../images/coverCar.png);
    background-size: cover;
    width: 98.8vw;
}

.TechGeneral {
    width: 100%;
    background-color: #76ff03;
}

.TechTitleMobile {
    color: white;
    font-family: "Geforce-Bold";
    font-size: 70px;
    margin: 0px 25px 0 25px;
    padding-top: 15px;
    line-height: 65px;
}

.TechTitleDesktop {
    display: none;
}

.TechDescription {
    font-family: "Geforce-Bold";
    font-size: 20px;
    margin: 15px 25px 30px 25px;
    padding-bottom: 20px;
}

.TechSubTitle {
    font-family: "Geforce-Bold";
    text-align: right;
    font-size: 50px;
    margin: 15px 25px 0 25px;
    line-height: 50px;
}

.TechTypes {
    width: 100%;
}

.TechSubDescription {
    font-family: "Geforce-Light";
    text-align: right;
    font-size: 20px;
    margin: 15px 25px 30px 25px;
}

.TechSubDescription a {
    text-decoration: none;
    color: black;
}

.Impacto {
    display: block;
    background-color: #76ff03;
    width: 98.8vw;
}

.ImpactoTitle {
    font-family: "Geforce-Bold";
    font-size: 80px;
    text-align: justify;
    line-height: 65px;
    margin: 30px 15px 0px 25px;
    font-size: bold;
}

.ImpactoText {
    font-family: "Geforce-Light";
    text-align: justify;
    margin: 25px 15px 15px 25px;
    font-size: 18px;
}

.ListRef {
    display: flex;
    text-align: center;
    margin: 10px 0 10px 0;
    font-family: "Geforce-Bold";
    font-size: 20px;
}

.Referencias {
    width: 95vw;
}

.Referencias a {
    text-decoration: none;
    color: white;
    padding: 0 10px 0 10px;
}

.Referencias p {
    width: 100%;
}

.VISLogoFooter {
    display: none;
}

.VISGameLogoFooter {
    padding: 0;
    width: 30%;
}

.Referencias a:hover {
    color: #76ff03;
}


/**************** VERSIÓN DE ESCRITORIO **************/

@media only screen and (min-width: 850px) {
    .NeedsTitle {
        font-size: 120px;
    }
    .NeedsText {
        margin-right: 300px;
    }
    .Gadgets {
        display: flex;
    }
    .GadgetsText {
        background-color: white;
        width: 55%;
    }
    .TimeGadget {
        position: relative;
    }
    .DescriptionGadget {
        font-size: 22px;
    }
    .Rectangle {
        background-color: #76ff03;
        height: 40px;
        width: 125px;
        z-index: 1;
        position: absolute;
    }
    .TimeText {
        margin-bottom: 0;
        margin: 2px 20px 0 20px;
        font-size: 30px;
        text-align: right;
        z-index: 2;
        position: absolute;
    }
    .NameGadget {
        font-size: 120px;
        margin: 55px 20px 0 20px;
        line-height: 100px;
        text-align: left;
    }
    .GadgetsImages {
        display: block;
        position: relative;
    }
    .GadgetsImages img {
        display: block;
        object-fit: cover;
        width: 29.9vw;
        height: 50vh;
    }
    .Overlay1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 20vw;
        height: 50vh;
        opacity: 0;
        transition: .5s ease;
        background-color: #76ff03;
        cursor: pointer;
        ;
    }
    .Image1:hover .Overlay1 {
        opacity: 0.8;
        width: 29.9vw;
    }
    .Overlay2 {
        position: absolute;
        top: 50;
        bottom: 0;
        left: 0;
        right: 0;
        width: 20vw;
        height: 50vh;
        opacity: 0;
        transition: .5s ease;
        background-color: #76ff03;
        cursor: pointer;
    }
    .Image2:hover .Overlay2 {
        opacity: 0.8;
        width: 29.9vw;
    }
    .OverlayText {
        font-family: "Geforce-Bold";
        font-size: 100px;
        text-align: right;
        margin-top: 45%;
        margin-right: 3%;
    }
    .MenuGadget {
        display: none;
    }
    .VISGameLogoFooter {
        width: 30%;
    }
    .ListRef {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .VISGameLogoGreen {
        height: 350px;
    }
    .CoverText {
        padding-bottom: 10px;
    }
    .ArrowGaming {
        width: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    .SinopsisText {
        font-size: 34px;
    }
    .NeedsText {
        font-size: 35px;
    }
    .GadgetsImages img {
        display: block;
        object-fit: cover;
    }
    .Tecnologias {
        display: flex;
        background: url(../images/coverCar.png);
        background-size: cover;
    }
    .TechGeneral {
        width: 85%;
        background-color: #76ff03;
    }
    .TechTitleDesktop {
        display: inherit;
        color: white;
        font-family: "Geforce-Bold";
        font-size: 88px;
        margin: 15px 25px 0 25px;
        line-height: 85px;
    }
    .TechTitleMobile {
        display: none;
    }
    .TechDescription {
        font-family: "Geforce-Bold";
        text-align: justify;
        font-size: 25px;
        margin: 15px 25px 30px 25px;
        padding: 0 10px 0 10px;
    }
    .TechSubTitle {
        text-align: right;
        font-size: 50px;
        margin: 15px 25px 0 25px;
        line-height: 50px;
    }
    .TechTypes {
        width: 130%;
    }
    .TechSubDescription {
        text-align: right;
        font-size: 20px;
        margin: 15px 25px 30px 25px;
    }
    .TechSubDescription a {
        text-decoration: none;
        color: black;
    }
}

@media only screen and (min-width: 1150px) {
    .DescriptionGadget {
        font-size: 22px;
    }
    .GadgetsText {
        width: 40%;
    }
    .ListRef {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1300px) {
    .showOnDesktop {
        display: block;
        margin: 0 auto 13% auto;
    }
    .hideOnDesktop {
        display: none;
    }
    nav ul {
        position: inherit;
        background: none;
        width: 1100px;
        height: auto;
        display: flex;
        padding-top: 5px;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        color: white;
        background-color: inherit;
        text-align: right;
        padding: 20px;
        font-size: 22pt;
    }
    nav ul li a:hover {
        color: #76ff03;
        background-color: inherit;
    }
    .CoverSection {
        display: flex;
        margin-left: 550px;
        margin-right: 50px;
    }
    .VISGameLogoGreen {
        padding-bottom: 50px;
    }
    .ArrowGaming {
        width: 50px;
        display: block;
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .CoverText {
        text-align: right;
        padding-left: 30px;
        line-height: 50px;
        padding-top: 80px;
    }
    .FilmTitle {
        font-size: 65px;
    }
    .SinopsisTitle {
        margin-top: 45px;
        font-size: 160px;
        line-height: 120px;
    }
    .SinopsisText {
        font-size: 45px;
    }
    .NeedsText {
        font-size: 40px;
        margin-right: 350px;
    }
    .NeedsTitle {
        font-size: 160px;
    }
    .DescriptionGadget {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1450px) {
    .VISGameLogoGreen {
        height: 420px;
    }
    .SinopsisText {
        font-size: 48px;
    }
    .DescriptionGadget {
        font-size: 28px;
    }
}